.my-search-box {
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    width: 40vw;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    padding: 10px 5px;
    border-radius: 15px;
}

ion-item {
    width: 80vw;
}

.input-test {
    margin-top: 50px;
}