.find {
    &__input-container {
        margin: 20px auto;
        width: 80vw;

        input {
            width: 100%;
            align-self: center;
            font-size: 1rem;
            font-weight: 400;
            color: #212529;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ff6666;
            padding: 10px 5px;
            border-radius: 15px;
        }
    }

    &__chips {
        width: 80vw;
        margin: auto;
    }

    &__map-container {
        width: 80vw;
        height: 50vh;
        margin: auto;
    }
}
