<!-- Header which displays when user scroll -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>S'inscrire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Header which displays when user has not scrolled yet -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">S'inscrire</ion-title>
    </ion-toolbar>
  </ion-header>

  <google-map
    #myGoogleMap
    height="500px"
    width="100%"
    [zoom]="zoom"
    [center]="center"
    [options]="mapOptions"
  >
    <map-marker
      #markerElem="mapMarker"
      *ngFor="let marker of markers"
      [position]="marker.position"
      [title]="marker.title"
      [options]="marker.options"
      (mapClick)="openInfoWindowAfterClickOnMarker(markerElem)"
    >
    </map-marker>

    <map-info-window [options]="infoWindowOptions"></map-info-window>
  </google-map>

  <div class="input-test">
    <h2>Vos coordonnées</h2>
    <label>Trouvez votre restaurant : </label>
    <input
      #search
      type="text"
      class="my-search-box"
      (keydown.enter)="$event.preventDefault()"
      placeholder="ex: Molly Malone's Bordeaux"
    />
  </div>

  <div>
    <ion-item>
      <ion-label position="floating"> Adresse </ion-label>
      <ion-input clearInput #addressInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Ville </ion-label>
      <ion-input clearInput #cityInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Code postal </ion-label>
      <ion-input clearInput #postalCodeInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"> Pays </ion-label>
      <ion-input clearInput #countryInput></ion-input>
    </ion-item>
  </div>
</ion-content>
